html, body {
width: 100%;
overflow-x: hidden;
}

.image-wrapper {
    
    height: 700px;
    width: 100%;
    max-width: 100%;
    background: url(compa.jpg) center no-repeat;
    opacity:0.95;
}
.image-wrapper h1 {
color:#fcf9f9;
font-size:100px;
text-align: center;
}
.image-wrapper h3{
    color:#fcf9f9;
    font-size:25px;
    text-align: center;
    margin-top: 10px;
    }

.navbar-inverse {
    background-color: transparent;
    border: none;

}
.nav.navbar-nav.navbar-right li a {
color:#fcf9f9;
font-size: 18px;
}
.nav.navbar-nav.navbar-right li a:hover {
    color: #fcf9f9;
    font-size: 14px;
    }

.nav.navbar-nav.navbar-right a {
    margin-right:20px;
    font-size:16px;
    margin-bottom: 20px;
}

.navbar{
    padding-top:20px;
}

.grey-container
{
    padding-top: 60px; 
    padding-bottom: 150px; 
    margin-left:130px;
    width:1000px;
}

#about{
    background-color: #fcf9f9;
}
#about h1{
    text-align: center;
    font-size:60px;
  
    font-family:'Fira Sans', sans-serif;
}
#about p{
    padding-top:70px;
    text-align: justify;
    font-size:18px;
    font-family: sans-serifs;

}


.carousel .item {
    height: 600px;
    width: 100%;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 600px;
      width:1000px; 
  }

  .textCarl {
    width: 100%;
    height: 600px;
    background: #000;
    color:white;
    display: flex;
    margin: auto;
    padding: 150px 0 0 0;
  }
  .textCarl p {
      font-size: 4em;
      text-align: center;
      font-family: 'Alfa Slab One', cursive;
    }


    #portfolio{
        background-color: #fcfcfc ;
        padding-bottom: 100px;
    }
    #portfolio h1{
        text-align: center;
        margin-bottom: 40px;
        font-size:50px;
        font-family:'Fira Sans', sans-serif;
    }

    #contact{
        background-color:  #fcf9f9;
    }
    #contact h1{
    font-size: 50px;  

    }
    #contact p{
        font-size: 20px;  
        } 
    body{
        background-color: white;
    }
    .form-control{
        border: 1px solid #0b93ee;
    }
    .form-control-message{
       padding:8px 9.6px;
        font-size: 1rem;
    line-height: 1.43;
    min-height: 250px;
    width: 675px;
    border: 1px solid #0b93ee;
    border-radius: 4px;
    }
  
    .btn.btn-primary{
        margin-top: 20px; color:white;
        border: none;
        padding:10px 40px !important;
        background-color:#0b93ee;
        padding:10px;
        font-size:15px;
    }
    .btn.btn-primary:hover{
        margin-top: 20px; color:black;
        border: none;
        padding:10px 40px !important;
        background-color:#0b93ee;
        padding:10px;
        font-size:15px;
    }